<article class="py-5">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
      <div class="flex items-center justify-center">
        <div class="max-w-7xl text-center">
          <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">
            {{ blog.title }}
          </a>
          <div class="text-4xl md:text-6xl font-medium">
            <h1>
              {{ article.title }}
            </h1>
          </div>
        </div>
      </div>

      {% when 'article_author' %}
      <div class="flex items-center justify-center">
        <div class="max-w-7xl text-center">
          {% if section.settings.enable_author %}
            <p class="content__author">
              <span>
                By
              </span>
              {{ article.author }}
            </p>
          {% endif %}
        </div>
      </div>

      {% when 'article_published_date' %}
      {% if section.settings.enable_published_date %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center">
            <time datetime="{{ article.published_at | date: "%a, %b %d, %y" }}">
              <span>
                On
              </span>
              {{ article.published_at | date: "%a, %b %d, %y" }}
            </time>
          </div>
        </div>
      {% endif %}
      {% when 'article_thumbnail_image' %}
      <div class="max-w-7xl bg-blue-100 rounded-lg mx-2 md-2 md:mx-auto overflow-hidden my-4">
        {% if article.image %}
          <img src="{{ article.image | img_url: '1600x1050' }}" alt="{{ article.image.alt }}" />
        {% else %}
          {% assign placeholder_image = 'lifestyle-2' %}
          {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p5' }}
        {% endif %}
      </div>

      {% when 'article_content' %}
      <div class="flex items-center justify-center my-4">
        <div class="max-w-7xl">
          {{ article.content }}

        </div>
      </div>
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="my-8">
    {% if article.comments_count > 0 %}
      <h2 class="text-lg mb-4 font-medium">
        Comments
      </h2>
      {% paginate article.comments by 5 %}
        {% for eachComment in article.comments %}
          <div class="flex-1 border my-4 px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
            <span class="comment-author">
              {{ eachComment.author }}
            </span>
            <span class="text-small">
              {{ eachComment.created_at | date: "%a, %b %d, %y" }}
            </span>
            <p>
              {{ eachComment.content }}
            </p>
          </div>
        {% endfor %}

        {% if paginate.pages > 1 %}
          {{ paginate | default_pagination }}
        {% endif %}
      {% endpaginate %}
    {% else %}
      <div class="max-w-7xl">
        <p>
          No comments have been posted yet.</p>
      </div>
    {% endif %}
  </div>
{% endif %}

<div id="comment-form" class="mb-8">
  <!--specifiy obj which will receive comment-->
  {% form 'new_comment', article %}
    {% if form.errors %}
      <div class="border p-5">
        <div class="flex flex-row items-center w-full my-3">
          <div class="text-red-500">
            {% render 'icon-failed' %}
          </div>
          <div class="text-sm font-medium ml-3">
            Whoops! Your comment could not be posted!
          </div>
        </div>
        <ul class="px-4 mb-3 ml-7 list-decimal">
          {% for error in form.errors %}
            <li>
              <span>
                {{ form.errors.message[error] }}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% elsif form.posted_successfully? %}
      <div class="flex flex-row items-center w-full my-3 p-5">
        <div class="text-green-500">
          {% render 'icon-success' %}
        </div>
        <div class="textsm font-medium ml-3">
          Comment is posted successfully
        </div>
      </div>
    {% endif %}
    <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">
      <div class="px-1 md:flex my-2">
        <!--first col-->
        <div class="px-3 md:w-1/2">
          <label for="comment_author" class="uppercase text-gray-700 font-medium text-xs mb-2">
            Name
          </label>
          <input
            type="text"
            name="comment[author]"
            id="comment_author"
            class="w-full text-gray-700 py-3 px-4 border focus:outline-none"
            placeholder="Jane Doe"
            required>
        </div>
        <!--second col-->

        <div class="px-3 md:w-1/2">
          <label for="comment_email" class="uppercase text-gray-700 font-medium text-xs mb-2">
            Email address
          </label>
          <input
            type="email"
            name="comment[email]"
            id="comment_email"
            class="w-full text-gray-700 py-3 px-4 border focus:outline-none"
            placeholder="janedoe@gmail.com"
            required>
        </div>
      </div>
      <div class="px-1 my-2">
        <div class="px-2 w-full">
          <label for="comment_content" class="uppercase text-grat-700 font-medium text-xs mb-2">Comment</label>
          <textarea
            name="comment[body]"
            id="comment_content"
            class="w-full text-gray-700 py-3 px-4 border focus:outline-none"
            placeholder="Your comment..."
            required></textarea>
        </div>
      </div>
      <div class="px-1 my-2">
        <div class="px-2 w-full">
          <input
            type="submit"
            value="post comment"
            class="w-full cursor-pointer px-4 py-2 border text-base font-medium text-white bg-gray-900 hover:bg-gray-500">
        </div>
      </div>
    </div>
  {% endform %}
</div>

<br>

{% schema %}
  {
    "name": "Template article",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_published_date",
        "label": "Enable Published Date",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_author",
        "label": "Enable Author",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_published_date",
        "name": "Published date",
        "limit": 1
      },
      {
        "type": "article_thumbnail_image",
        "name": "Thumnail image",
        "limit": 1
      }, {
        "type": "article_content",
        "name": "Content",
        "limit": 1
      }
    ]
  }
{% endschema %}