{% paginate blog.articles by 3 %}
  {% for article in blog.articles %}
    <div>
      {% if article.image %}
        <img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}">
      {% else %}
        {% assign placeholder_image = 'lifestyle-2' %}
        {{ placeholder_image | placeholder_svg_tag: 'w-full ' }}
      {% endif %}
      <h1>{{ article.title }}</h1>
      {% if article.exerpt.size > 0 %}
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endpaginate %}